{% extends "base.html" %}

{% block content %}
        {% if courses %}
        <h1>Kursy: </h1>
            {% for course in courses %}
               <p><a href="{% url 'pobierz' course.1 %}">{{ course.0 }}</a></p>
            {% endfor %}
        {% else %}
        <h2>error: brak kursow</h2>
        {% endif %}

{% endblock %}
