{% extends "base.html" %}

{% block content %}

<h4>Login do konta na CanvasI</h4>
<form action="{% url 'uzytc' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Zapisz">
    <p class="info">{{ error }}</p>
</form>
{% endblock %}
