<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Canvas</title>
    </head>
    <body>
    <h1>Canvas</h1>
    {% if info %}
        <p class="info"> {{ info }}</p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><b>Zalogowany:</b> {{ user.username }}</p>
    {% endif %}
    <div>
    <ul>
            <li><a href="{% url 'index' %}">Strona główna</a></li>
    {% if user.is_authenticated  %}
            <li><a href="{% url 'oceny' %}">Oceny</a></li>
            <li><a href="{% url 'uzytc' %}">Polacz z canvasem</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
    {% else %}
            <li><a href="{% url 'register' %}">Rejestracja</a></li>
            <li><a href="{% url 'login' %}">Zaloguj się</a></li>

    {% endif %}

    </ul>
    </div>
    </body>
</html>